.mdb-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 6px;
}

.mdb-flex.column {
    flex-direction: column;
}

.mdb-flex.column .mdb-inside {
    flex-basis: 100%;
}

.mdb-inside {
    margin-bottom: 12px;
    flex-basis: 32%;
}

.mdb-inside label {
    display: block;
}

.mdb-inside label p {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 700;
}

.mdb-inside label input,
.mdb-inside label select {
    width: 100%;
}